	*{
		margin:0px;
		padding:0px;
		list-style:none;
	}
	.box{
		width:1312px;
		position:relative;
		margin:0 auto;
	}
	.nav-above{
		height:56px;
		width:1349px;
		background:#B4060A;
	}
	.nav-above img{
		float:left;
	}
	.nav-above ul{
		float:left;
		margin-left:13px;
	}
	.nav-above ul li{
		float:left;
		height:56px;
		/*line-height:56px;*/
		width:32px;
		padding-right:38px;
	}
	.l-l{
		line-height:56px;
	}
	.line-height{
		line-height:28px;
	}
	.nav-above a{
		font-family:微软雅黑;
		font-size:14px;
		text-decoration:none;
		color:white;
	}
	nav{
		width:1349px;
		height:38px;
		background:#f5f5f5;
	}
	header{
		width:1349px;
		height:136px;
		/*background:purple;*/
	}
	nav p{
		width:90px;
		height:100%;
		float:left;
		margin-left:70px;
		line-height:38px;
	}
	nav p a{
		font-size:12px;
		text-decoration:none;
		color:#567;
	}
	#nav-left{
			float:left;
			height:38px;
			width:400px;
	}
	#nav-left ul li{
		text-align:center;
		float:left;
		font-size:12px;
		height:38px;
		width:82px;
		font-family:微软雅黑;
		line-height: 38px;
	}
	#nav-left ul{
		margin-left:10px;
		position:relative;
	}
	.nav-menu-one{
		position: absolute;
		top:38px;
		background:white;
		/*height:240px;*/
		width:988px;
		display:none;
		border:1px solid #eee;

	}
	.nav-menu-one table{
		margin-left:20px;
		margin-top:20px;
		float:left;

	}
	.nav-menu-one td{
		font-size: 12px;
		width:72px;
		height:20px;
		padding-right:10px;
	}
	.nav-menu-one,.nav-menu-two,.nav-menu-three,.nav-menu-five,.nav-menu-four,.nav-menu-six{
		z-index:999;
		border-right: 1px solid #eee;
	}
	.nav-menu-one .topSize{
		font-size: 15px;
		color:#444;
	}
	.nav-menu-one a{
		text-decoration: none;
		color:#567;
	}
	.nav-menu-one a:hover{
		color:#f60;
		text-decoration: underline;
	}
	.nav-menu-two{
		width:162px;
		background:white;
		position: absolute;
		top:38px;
		display:none;
	}
	.nav-menu-two table{

		margin-top:20px;
	}
	.nav-menu-two td{
		font-size: 12px;
		padding-left:10px;
		padding-right:15px;
	}
	.nav-menu-two a{
		text-decoration: none;
		color:#567;
	}
	.nav-menu-two a:hover{
		color:#f60;
		text-decoration: underline;
	}
	#nav-left-a{
		color:#666;
		font-size:12px;
	}
	#nav-left-b>a{
		color:#666;
		font-size:12px;
		text-decoration:none;
	}
	#nav-right{
		margin-right:28px;
		float:left;
		/*width:800px;*/
		height:38px;
		margin-left:50px;
	}
	#nav-right li{
		float:left;
		font-size:12px;
		color:#666;
		text-align: center;
	}
	#nav-right li a{
		font-size: 12px;
		text-decoration:none;

	}
	#nav-right li{
		height:38px;
		line-height:38px;
	}
	.nav-right-one{
		width:80px;
	}
	.nav-right-two{
		width:82px;
	}
	.nav-right-three{
		width:84px;
	}
	.nav-right-four{
		width:96px;
		font-family: 黑体;
	}
	.nav-right-four a{
		font-size:14px;
		color:black;
	}
	.nav-right-four span{
		vertical-align:super;
		line-height:32px;
	}
	.nav-right-five{
		width:98px;
	}
	.nav-right-six{
		width:58px;
	}
	.nav-right-seven{
		width:70px;
	}
	.nav-right-eight{
		width:64px;
	}
	.nav-right-one a{
		color:#666;
	}
	.nav-right-one:hover{
		background:#eee;
	}
	#nav-right .nav-right-one a:hover{
		color:#f60;
		text-decoration:underline;
	}
	#nav-right .nav-right-five:hover span{
		color:#f60;
		text-decoration:underline;
	}
	#nav-right .nav-right-five:hover{
		background:white;
	}
	#nav-right .nav-right-two:hover span{
		color:#f60;
		text-decoration:underline;
	}
	#nav-right .nav-right-two:hover{
		background:white;
	}
	#nav-right .nav-right-three:hover span{
		color:#f60;
		text-decoration:underline;
	}
	#nav-right .nav-right-three:hover{
		background:white;
	}
	#nav-right .nav-right-four:hover{
		color:#f60;
		text-decoration:underline;
	}
	#nav-right .nav-right-six:hover{
		color:#f60;
		text-decoration:underline;
	}
	#nav-right .nav-right-seven:hover{
		color:#f60;
		text-decoration:underline;
	}
	.nav-menu-three{
		position:absolute;
		/*top:18px;*/
		width:82px;
		background:white;
		display:none;
	}
	.nav-menu-three table{
		margin-top:20px;
		/*margin-left:10px;*/
	}
	.nav-menu-three td{
		height:38px;
		width:82px;
		line-height:38px;
	}
	#nav-right .nav-menu-three td{
		color:#666;
	}
	#nav-right .nav-right-two td:hover{
		color:#f60;
		text-decoration:underline;
	}
	.nav-menu-four{
		width:164px;
		position:absolute;
		background:white;
		display:none;
	}
	.nav-menu-four td{
		width:82px;
	}
	.nav-menu-four td:hover{
		color:#f60;
		text-decoration:underline;
	}
	.nav-menu-five{
		position:absolute;
		display:none;
	}
	.nav-right-eight:hover{
		background:white;
	}
	.nav-menu-six{
		width:166px;
		position:absolute;
		left:1106px;
		background:white;
		display:none;
	}
	.nav-menu-six td{
		width:83px;
	}
	.nav-menu-six td:hover{
		color:#f60;
		text-decoration:underline;
	}
	.container{
		width:1349px;
		height:1051px;
		/*background:cyan;*/
	}
	.selected{
		width:1188px;
		height:32px;
		border:1px solid #eee;
		margin:0 auto;
	}
	.selected img{
		float:right;
	}
	.select{
		width:1188px;
		height:243px;
		/*background:pink;*/
		margin:0 auto;
		border:1px solid #eee;
	}
	.select-one,.select-two{
		height:120px;
		width:1188px;
	}
	.select-one{
		border-bottom:1px solid #eee;
	}
	.select-one input,.select-two input{
		float:left;
	}
	.select-one img,.select-two img{
		margin-left:40px;
		float:left;
	}
	.number-one span,.number-two span{
		color:#567;
		font-size:12px;
	}
	.number-one,.number-two{
		float:left;
		margin-left:100px;
		margin-top:20px;
	}
	.price-two,.price-one{
		margin-top:20px;
		float:left;
	}
	.money-two,.money-one{
		margin-left:100px;
		margin-top:20px;
		float:left;
	}
	.del-two,.del-one{
		float:left;
		margin-left:120px;
		margin-top:30px;
	}
	.all{
		width:1188px;
		height:58px;
		/*background:red;*/
		margin:0 auto;
		border:1px solid #eee;
	}
	.all button{
		margin-left:20px;
		/*float:left;*/
		margin-top:20px;
	}
	.all>img{
		float:right;
		height:58px;
		cursor:pointer;
	}
	.all-price{
		float:right;
		height:58px;
		line-height:58px;
		margin-right:100px;
	}
	.number-one,.number-two{
		cursor:pointer;
	}
	.del-one,.del-two{
		cursor:pointer;
	}
	.selected button,.all button{
		cursor:pointer;
	}
	.img{
		width:1190px;
		height:616px;
		margin:0px auto;
		margin-top:32px;
	}
	footer{
		width:1349px;
		height:180px;
		/*background:purple;*/
	}
	.all-footer{
		width:100%;
		height:166px;
		/*background:red;*/
		overflow:hidden;
	}
	.li-border{
		border-right:1px solid #f9f9f9;
	}
	.all-footer ul{
		margin-top:10px;
	}
	.all-footer li{
		font-size:12px;
		float:left;
		padding:0 9px;
	}
	.ul-first a{
		color:#666;
		text-decoration:none;
	}
	.ul-second a{
		color:#666;
		text-decoration:none;
	}
	.ul-third a{
		color:#999;
		text-decoration:none;
	}
	.ul-third li{
		color:#999;
	}
	.ul-fourth a{
		color:#999;
		text-decoration:none;
	}
	.ul-fourth li{
		color:#999;
	}
	.li-border-change{
		border-right:1px solid #999;
	}
	.ul-first{
		margin-left:216px;
	}
	.ul-second{
		margin-left:236px;
	}
	.ul-third{
		margin-left:300px;
	}
	.ul-fourth{
		margin-left:306px;
	}
	.ul-img{
		margin-left:460px;
	}
	.ul-first a:hover{
		color:#f60;
	}
	.ul-second a:hover{
		color:#f60;
	}